body{
    margin: 0;
    padding: 0;
    background-color:#f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
}
p{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: .5rem;
}
.button{
    display: flex;
    justify-content: center;
}
button{
    border: none;
    font-size: 3rem;
    margin: 0 .5rem;
    cursor: pointer;
    border-radius: 50px;
    transition: all .3 ease-in-out;
    padding: 7px 7px;
}
button:hover{
    opacity: .8;
}
#rock{
    background-color: rgb(255, 113, 47);
    
}
#paper{
    background-color: rgb(55, 255, 0);
}
#scissor{
    background-color: aquamarine;
}
#user-score{
    color:blue;
}
#computer-score{
    color: red;
}
